<!DOCTYPE html>
<html class="min-height-full">
    <head>
        <!-- META TAGS -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta property="og:locale" content="en_GB" />
        <meta property="og:type" content="website" />
        <!-- TITLE -->
        <title>pi4</title>
        <!-- STYLESHEETS -->
        <link href="../static/index.css" rel="stylesheet" type="text/css">
        <link href="../static/includes/navbar.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
        <link rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
            integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
            crossorigin="anonymous"
        />
        <!-- SCRIPTS -->

        <!-- NAVIGATION -->
        {% include 'includes/navbar.html' %}
    </head>
    <body>
        <section>
            <div class="container">
                <h1>pi4</h1>
            </div>
        </section>
        
    <!-- FOOTER -->
    {% include 'includes/footer.html' %}
    </body>
</html>
