/* -- NAVIGATION (DESKTOP SECTION 1 / 1) -- */
.navbar {
    background: #794e4e;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 70px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

/* NAVIGATION LOGO (DESKTOP) */
#navbar_logo {
    color: #ffffffec;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
}

#navbar_logo span {
    display: inline-block;
}


/* NAVIGATION MENU (DESKTOP) */
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    height: 70px;
}

.navbar_links {
    color: #ffffff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    transition: all 0.1s ease;
}
    
.navbar_links:hover {
    color: #cbcbcb;
    transition: all 0.1s ease;
}

.highlight_link {
    border-bottom: 4px solid #ffffffc2;
}
