<nav class="navbar">
    <div class="navbar_container">
        <!-- NAVIGATION LOGO -->
        <a href="/" id="navbar_logo">
            <span>pi4</span>
        </a>
        <!-- MOBILE & TABLET NAVIGATION -->
        <div class="navbar_toggle" id="mobile_menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!-- DESKTOP & MOBILE NAVIGATION BUTTONS -->
        <ul class="navbar_menu">
            <li class="navbar_item">
                <a href="#" class="navbar_links">Config</a>
            </li>
        </ul>
    </div>
</nav>
